*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
header,footer{
  height: 35px;
  text-align: center;
  background-color: brown;
  color: #fff;
  line-height: 35px;
}

.main{
  min-height: calc(100vh - 70px);
}
ul{
  display: flex;
  justify-content: center;
  list-style: none;
}
ul a{
  margin:0 10px;
  color: #fff;
  text-decoration: none;
}
ul a:hover{
  color: aquamarine;
}
.boxes{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.box{
  width: 40%;
  border: 1px solid #000;
  padding: 10px;
  margin: 10px;
}